{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/company.css">
{{/contentFor}}
{{#contentFor "PAGE_LEVEL_SCRIPTS"}}
<script>
  $(document).ready(function () {
    $('.company-team-image__item-tag').on('mouseenter', function () {
      var tagId = $(this).attr('id');
      var index = tagId.replace('companyTeamMembersCell', '');

      if ($('#companyTeamMembersInfo' + index).parents('.our-team').length > 0) {
        $('.our-team .company-team__member').removeClass('show');
        $('.our-team .company-team__member').addClass('hide');
      } else if ($('#companyTeamMembersInfo' + index).parents('.science-advisors').length > 0) {
        $('.science-advisors .company-team__member').removeClass('show');
        $('.science-advisors .company-team__member').addClass('hide');
      }

      $('#companyTeamMembersInfo' + index).removeClass('hide');
      $('#companyTeamMembersInfo' + index).addClass('show');
    });

    $('.company-team-image__item-tag').on('mouseout', function () {
      var tagId = $(this).attr('id');
      var index = tagId.replace('companyTeamMembersCell', '');

      $('#companyTeamMembersInfo' + index).removeClass('show');
    });

    $('.science-advisors .company-team__member').eq(0).removeClass('hide');
    $('.our-team .company-team__member').eq(0).removeClass('hide');
  });
</script>
{{/contentFor}}

{{!< default}}
<main class="main">
  <div data-aos="fade-up">
    <section class="our-team section">
      <div class="container grid flex-middle">
        <div class="width-1-2">
          <h2 class="company-section__title text-size-bigger text-theme-color text-weight-bold">OUR TEAM</h2>
        </div>

        {{#each company.companyTeamMembers}}
          {{#unless this.isScientificAdvisors}}
          <div id="companyTeamMembersInfo{{@index}}" class="company-team__member width-1-2 flex flex-top hide">
            <div class="company-team__avatar flex__shrink-fixed">
              <img src="/uploads/company/{{{this.image.filename}}}" alt="">
            </div>
            <div class="company-team__content">
              <h5 class="text-theme-color">{{this.title}}</h5>
              <p class="company-team__name text-weight-bold">{{this.name}}</p>
              <i class="company-team__divider divider__horizontal-block"></i>
              <div>
                <p class="text-line-height text-weight-light">{{this.description}}</p>
              </div>
            </div>
          </div>
          {{/unless}}
        {{/each}}

      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="">
      <div class="company-team-image container">
        <img class="company-team__image" src="/images/company-banner.jpg" alt="">
        <ul>
          {{#each company.companyTeamMembers}}
          <li id="companyTeamMembersCell{{@index}}" class="company-team-image__item-tag {{getTeamMemberListClassName @index}}">
            <i class="company-team-image__tag">{{this.name}}</i>
            <img class="company-team-image__volume" src="/images/volume_up.svg" alt="">
          </li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="science-advisors section">
      <div class="container grid flex-middle">
        <div class="width-1-2">
          <h2 class="company-section__title text-size-bigger text-theme-color text-weight-bold">OUR<br />SCIENTIFIC<br />ADVISORS</h2>
        </div>
        {{#each company.companyTeamMembers}}
          {{#if this.isScientificAdvisors}}
          <div id="companyTeamMembersInfo{{@index}}" class="company-team__member width-1-2 flex flex-top">
            <div class="company-team__avatar flex__shrink-fixed">
              <img src="/uploads/company/{{{this.image.filename}}}" alt="">
            </div>
            <div class="company-team__content">
              <h5 class="text-theme-color">{{this.title}}</h5>
              <p class="company-team__name text-weight-bold">{{this.name}}</p>
              <i class="company-team__divider divider__horizontal-block"></i>
              <div>
                <p class="text-line-height text-weight-light">{{this.description}}</p>
              </div>
            </div>
          </div>
          {{/if}}
        {{/each}}

        {{!-- <div class="company-team__member width-1-2 flex flex-top">
          <div class="company-team__avatar flex__shrink-fixed">
            <img src="/images/company-avatar-2.png" alt="">
          </div>
          <div class="company-team__content">
            <h5>Technology Advisor</h5>
            <p class="company-team__name text-weight-bold">​Samik Ghosh</p>
            <i class="company-team__divider divider__horizontal-block"></i>
            <div>
              <p class="text-line-height text-weight-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
          </div>
        </div> --}}

      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="aikomi-culture section">
      <div class="container grid flex-top">
        <div class="width-1-3">
          <h2 class="company-section__title text-size-bigger text-theme-color text-weight-bold">AIKOMI<br />CULTURE</h2>
        </div>
        <div class="width-2-3">
          <div class="aikomi-culture__paragraph-container flex flex-top">
            <h4 class="text-size-big text-weight-bold">{{company.cultureReasonTitle}}</h4>
            <div class="aikomi-culture__paragraph">
              <span class="aikomi-culture__mark first text-size-biggest text-theme-color text-weight-bold">“</span>
              <p class="text-line-height text-weight-light">{{{company.cultureReason}}}</p>
              <span class="aikomi-culture__mark second text-size-biggest text-theme-color text-weight-bold">”</span>
            </div>
          </div>
          <i class="aikomi-culture__divider divider__horizontal-block"></i>
          <div class="aikomi-culture__paragraph-container flex flex-top">
            <h4 class="text-size-big text-weight-bold">{{company.challengingBehaviourTitle}}</h4>
            <div class="aikomi-culture__paragraph">
              <span class="aikomi-culture__mark first text-size-biggest text-theme-color text-weight-bold">“</span>
              <p class="text-line-height text-weight-light">{{{company.cultureBehaviour}}}</p>
              <span class="aikomi-culture__mark second text-size-biggest text-theme-color text-weight-bold">”</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="our-partner section">
      <div class="container grid flex-top">
        <div class="width-1-3">
          <h2 class="company-section__title text-size-bigger text-theme-color text-weight-bold">OUR PARTNER</h2>
        </div>
        <div class="width-2-3">
          <i class="our-partner__divider divider__horizontal-block"></i>
          <ul class="our-partner__list flex flex-middle flex-space-between">
            {{#each company.companyPartners}}
            <li>
              <img class="our-partner__image" src="/uploads/company/{{{this.image.filename}}}" alt="">
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="about-us section">
      <div class="container grid flex-top">
        <div class="width-1-3">
          <h2 class="company-section__title text-size-bigger text-theme-color text-weight-bold">ABOUT US</h2>
        </div>
        <div class="width-2-3">
          <div>
            <h3 class="text-size-big text-weight-bold">HISTORY OF AIKOMI</h3>
            <div>
              {{{company.aboutUsHistory}}}
            </div>
          </div>
          <i class="about-us__divider divider__horizontal-block"></i>
          <div>
            <h3 class="text-size-big text-weight-bold">CORPORATE DETAILS</h3>
            <div>
              {{{company.aboutUsCorporateDetail}}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>