{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/contact.css">
{{/contentFor}}

{{!< default}}
<main class="main">
  <section class="banner text-center">
    <img class="banner__image" src="/images/cotact-banner.jpg" alt="">
  </section>

  <div data-aos="fade-up">
    <section class="contact-address section">
      <div class="container-sm">
        <div class="grid flex-middle flex-center">
          <div class="map width-1-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.553209617493!2d139.50599951519246!3d35.34191485611365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60184fbfc0000001%3A0x2685b33b5886e8ba!2sAikomi%20Co.%2C%20Ltd.!5e0!3m2!1szh-CN!2sjp!4v1587554879881!5m2!1szh-CN!2sjp" width="100%" height="303" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div class="contact__content-container width-1-2">
            <ul class="contact__list">
              <li class="contact__item address">
                <label class="contact__label text-weight-bold">Address:</label>
                <span>{{contact.address}}</span>
              </li>
              <li class="contact__item">
                <label class="contact__label text-weight-bold">Phone:</label>
                <span>{{contact.phone}}</span>
              </li>
              <li class="contact__item">
                <label class="contact__label text-weight-bold">Email:</label>
                <span>{{contact.email}}</span>
              </li>
            </ul>
            <ul class="contact__media-list">
              <li class="contact__media-item">
                <a class="contact__link" href="{{contact.facebookLink}}"><img class="contact__image" src="/images/icon-facebook.png" alt=""></a>
              </li>
              <li class="contact__media-item">
                <a class="contact__link" href="{{contact.twitterLink}}"><img class="contact__image" src="/images/icon-twitter.png" alt=""></a>
              </li>
              <li class="contact__media-item">
                <a class="contact__link" href="{{contact.instagramLink}}"><img class="contact__image" src="/images/icon-instagram.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="contact-newsletter section">
      <div class="container-sm">
        <h2 class="text-center text-size-biggest text-weight-bold">Newsletter</h2>
        <p  class="contact-newsletter__description text-center">Subscribe to our mailing list to get the updates to your email inbox.</p>
        <div class="contact__form flex flex-middle flex-center">
          <input class="contact__input" type="text" placeholder="E-mail"/>
          <button class="contact__button button-theme">SUBSCRIBE</button>
        </div>
      </div>
    </section>
  </div>
</main>