{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/family.css">
{{/contentFor}}
{{#contentFor "PAGE_LEVEL_SCRIPTS"}}
<script>
  $(document).ready(function () {
    $(".gallery__item").each(function(index){
      $(this).css({
        top: Math.floor(index / 7) * $(this).height() + 'px',
        left: (index % 7) * $(this).width() + 'px'
      });
    });

    $(".family-name__item img").on('mouseenter', function() {
      $(this).parent('.family-name__item').find('.family-name__content').css({
        'display': 'block',
        'opacity': '1',
        'z-index': '200'
      });
    });

    $(".family-name__item img").on('mouseout', function() {
      $(this).parent('.family-name__item').find('.family-name__content').css({
        'display': 'none',
        'opacity': '0',
        'z-index': '0'
      });
    });
  });
</script>
{{/contentFor}}

{{!< default}}
<main class="main">
  <section class="banner text-center">
    <img class="banner__image" src="/uploads/family/{{family.bannerImage.filename}}" alt="">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
      <li class="gallery__item">
        <img src="/images/volume_up.svg" alt="">
      </li>
    </ul>
  </section>

  <div data-aos="fade-up">
    <section class="family-animation section">
      <div class="container-sm">
        <h3 class="text-size-bigger text-weight-bold">{{family.becomeFamilyTitle}}</h3>
        <h4 class="family__section-subtitle text-size-big">{{family.becomeFamilySubtitle}}</h4>
        <i class="theme-divider__horizontal-block"></i>
        <div class="grid">
          <div class="width-1-2">
            <h4 class="text-size-big text-weight-bold">{{family.becomeFamilyLabel}}</h4>
            <div class="family-animation__paragraph">
              <p class="text-line-height text-weight-light">{{family.becomeFamilyDescription}}</p>
            </div>
            <div class="family-animation__video">
              {{{family.becomeFamilyVideo}}}
              <div class="family-animation__video-text-container">
                <h4 class="text-size-big text-theme-color">{{family.becomeFamilyVideoTitle}}</h4>
                <p class="family-animation__text">{{family.becomeFamilyVideoDescription}}</p>
              </div>
            </div>
          </div>
          <div class="width-1-2">
            <div class="family-animation__item">
              <img src="/uploads/family/{{family.becomeFamilyImageI.filename}}" alt="">
              <div class="family-animation__text-container">
                <h4 class="text-size-big text-theme-color">{{family.becomeFamilyImageITitle}}</h4>
                <a href="{{family.becomeFamilyImageILink}}">
                  <p class="family-animation__text">{{family.becomeFamilyImageIDescription}}</p>
                </a>
              </div>
            </div>
            <div class="grid">
              <div class="family-animation__item width-1-2">
                <img src="/uploads/family/{{family.becomeFamilyImageII.filename}}" alt="">
                <div class="family-animation__text-container">
                  <h4 class="text-size-big text-theme-color">{{family.becomeFamilyImageIITitle}}</h4>
                  <a href="{{family.becomeFamilyImageIILink}}">
                    <p class="family-animation__text">{{family.becomeFamilyImageIIDescription}}</p>
                  </a>
                </div>
              </div>
              <div class="family-animation__item width-1-2">
                <img src="/uploads/family/{{family.becomeFamilyImageIII.filename}}" alt="">
                <div class="family-animation__text-container">
                  {{#if family.becomeFamilyImageIIITitle}}
                  <h4 class="text-size-big text-theme-color">{{family.becomeFamilyImageIIITitle}}</h4>
                  {{/if}}
                  <a href="{{family.becomeFamilyImageIIILink}}">
                    <p class="text-theme-dark-color">{{family.becomeFamilyImageIIIDescription}}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="family-name section">
      <div class="container-sm">
        <div>
          <h3 class="text-size-bigger text-weight-bold">{{family.familyNameTitle}}</h3>
          <h4 class="family__section-subtitle text-size-big">{{family.familyNameSubtitle}}</h4>
          <i class="theme-divider__horizontal-block"></i>
          <div class="family-name__paragraph grid">
            <p class="width-1-2 text-line-height text-weight-light">{{family.familyNameDescription}}</p>
          </div>
        </div>
        <div class="family-name__image-container">
          <img src="/images/family-section-name.jpg" alt="">
          <ul>
            {{#each family.familyNameList}}
            <li class="family-name__item {{getFamilyListClassName @index}}">
              <img src="/images/{{getCircleAnimation @index}}" alt="">
              <div class="family-name__content {{getFamilyListClassName @index}}">
                <h5 class="family-name__title text-theme-color">{{this.title}}</h5>
                <p class="family-name__content-paragraph">{{this.description}}</p>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>