{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/homepage.css">
{{/contentFor}}

{{!< default}}
<main class="main">
  <section class="banner text-center">
    <img class="banner__image" src="/uploads/home/{{{home.bannerImage.filename}}}" alt="">
  </section>

  <div data-aos="fade-up">
    <section class="home-person-care section">
      <div class="container-sm">
        <h2 class="home-person-care__title text-size-biggest text-theme-color text-weight-bold">{{home.bannerTitle}}</h2>
        <i class="theme-divider__horizontal-block"></i>
        <div class="home-person-care__paragraph">
          <p class="text-size-big text-line-height text-weight-light">{{home.bannerDescription}}</p>
        </div>
        <div class="text-right">
          <a href="{{home.bannerLink}}" class="text-size-big button-theme-radius text-line-height text-weight-bold">Read More</a>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="home-dementia section">
      <div class="container-sm grid flex-middle">
        <div class="width-1-2">
          <img class="home-dementia__image" src="/uploads/home/{{{home.dementiaCareTriadImage.filename}}}" alt="">
        </div>
        <div class="width-1-2">
          <h2 class="home-dementia__title text-size-bigger text-weight-light">{{{home.dementiaCareTriadTitle}}}</h2>
          <div class="home-dementia__paragraph">
            <p class="text-size-big text-line-height text-weight-light">{{home.dementiaCareTriadDescription}}</p>
          </div>
          <i class="theme-divider__horizontal-block"></i>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="section">
      <div class="video__container">
        <div class="container-sm">
          <div class="video">
            {{{home.video}}}
          </div>
        </div>
      </div>
      <div class="video__divider-container">
        <i class="video__divider theme-divider__vertical-block"></i>
      </div>

      <div class="ipad__container">
        <div class="ipad container-sm text-center">
          <img src="/images/aikomi-home-section-3.png" alt="">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"/></svg>
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="section">
      <div class="container-sm text-center">
        <h4 class="text-size-bigger text-theme-dark-color text-weight-bold">{{home.introductionTitle}}</h4>
        <div class="aikomi-platform__paragraphs">
          {{{home.introductionDescription}}}
        </div>
        <ul class="aikomi-platform__list flex flex-top flex-space-around">
          <li class="aikomi-platform__item text-center">
            <img class="aikomi-platform__image" src="/images/aikomi-home-platform-1.png" alt="">
            <span class="aikomi-platform__text text-weight-light">Personalized Programs</span>
          </li>
          <li class="aikomi-platform__item text-center">
            <img class="aikomi-platform__image" src="/images/aikomi-home-platform-2.png" alt="">
            <span class="aikomi-platform__text text-weight-light">Monitoring & Optimization</span>
          </li>
          <li class="aikomi-platform__item text-center">
            <img class="aikomi-platform__image" src="/images/aikomi-home-platform-3.png" alt="">
            <span class="aikomi-platform__text text-weight-light">Home Therapist</span>
          </li>
        </ul>
        <ul class="aikomi-platform__list second flex flex-top flex-space-around">
          <li class="aikomi-platform__item text-center">
            <img class="aikomi-platform__image" src="/images/aikomi-home-platform-4.png" alt="">
            <span class="aikomi-platform__text text-weight-light">Peer Support</span>
          </li>
          <li class="aikomi-platform__item text-center">
            <img class="aikomi-platform__image" src="/images/aikomi-home-platform-5.png" alt="">
            <span class="aikomi-platform__text text-weight-light">Counselling Service</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
