{{#contentFor "PAGE_LEVEL_STYLES"}}
<link rel="stylesheet" href="/styles/owl.carousel.min.css">
<link rel="stylesheet" href="/styles/owl.theme.default.css">
<link rel="stylesheet" href="/styles/news.css">
{{/contentFor}}
{{#contentFor "PAGE_LEVEL_SCRIPTS"}}
<script src="/js/owl.carousel.min.js"></script>
<script>
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
  })

  $(document).ready(function () {
    $(".news__table-tab").on('click', function(){
      var currentId = $(this).attr('id');

      $('.news__table-tab').removeClass('active');
      $(this).addClass('active');

      if (currentId === 'all') {
        $('.news__table-list').css({
          display: 'table'
        });
      } else {
        $('.news__table-list').css({
          display: 'none'
        });
        $('#tableList-' + currentId).css({
          display: 'table'
        });
      }
    });
  });
</script>
{{/contentFor}}

{{!< default}}
<main class="main">
  <section class="banner text-center">
    <img class="banner__image" src="/uploads/news/{{{news.bannerImage.filename}}}" alt="">
  </section>

  <div data-aos="fade-up">
    <section class="section">
      <div class="container-sm">
        <div class="owl-carousel owl-theme">
          {{#each news.recentNewsList}}
          <div class="item news__item"> 
            <div class="news__card">
              <time class="news__time text-size-big text-theme-color text-weight-bold">{{formatDate this.publicDate 'LL'}}</time>
              <h4 class="news__title text-weight-bold">{{this.title}}</h4>
              <p class="text-line-height">{{this.description}}</p>
              <div class="news__sign-container text-right">
                <span class="news__sign">{{__ "Click Here"}}</span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </section>
  </div>

  <div data-aos="fade-up">
    <section class="news-table section">
      <div class="container-sm">
        <h2 class="text-center text-size-bigger text-theme-color text-weight-bold">DISCOVER NEWS</h2>
        <div class="news-table__container">
          <ul class="news__table-tab-list">
            <li id="all" class="news__table-tab text-weight-bold active">ALL</li>
            {{#each news.newsTypes}}
            <li id="{{this._id}}" class="news__table-tab text-weight-bold">{{this.name}}</li>
            {{/each}}
          </ul>
          {{#each news.newsTypes}}
          <table class="news__table-list" id="tableList-{{this._id}}">
            {{#each this.newsHistoryList}}
            <tr>
              <td>{{formatDate this.publicDate 'YYYY.MM.DD'}}</td>
              <td class="text-theme-color"><i>{{../name}}</i></td>
              <td><p class="text-weight-bold">{{this.description}}</p></td>
            </tr>
            {{/each}}
          </table>
          {{/each}}
        </div>
      </div>
    </section>
  </div>
</main>